@model DiffO.Demo.Models.BearModel
@using DiffO

<ul>
    <li style="@Html.GetPropertyDiffStyle(x => x.Uid)">@Model.Uid</li>
    <li style="@Html.GetPropertyDiffStyle(x => x.Color)">@(Model.Color ?? Html.GetPropertyDiffOldValue(x => x.Color)) </li>
    <li style="@Html.GetPropertyDiffStyle(x => x.Name)">@Model.Name</li>
</ul>
