@model DiffO.Demo.Models.ZooModel
@using DiffO

@{
    var removedBirds = Html.GetListPropertyDiff(x => x.Birds, DifferenceType.Removed) ?? new List<object>();

    var addedBirds = Html.GetListPropertyDiff(x => x.Birds, DifferenceType.Added) ?? new List<object>();
}

<ul>
    <li>
        @Html.Partial("_Bear", Model.Bear)
    </li>
    <li>
        @Html.Partial("_Lion", Model.Lion)
    </li>
    <li>
        <ul>
            @foreach(var bird in Model.Birds)
            {
                <li style="background-color: @(addedBirds.Any(x => x.Equals(bird)) ? "green" : "")">@Html.Partial("_Bird", bird)</li>
            }
            @foreach (var bird in removedBirds)
            {
                <li style="background-color: red">@Html.Partial("_Bird", bird)</li>
            }
        </ul>
    </li>
</ul>